@model IEnumerable<AgileDevelopment.Models.Methodology>

@{
    ViewData["Title"] = "Software Development Methodologies";
}

<h1>@ViewBag.Title</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.MethodologyID"><strong>@Html.DisplayFor(modelItem => item.Title)</strong></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MethodologyID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MethodologyID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MethodologyID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
